includes:
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/wernerdweight/cs/src/Rules/phpstan-rules.neon

parameters:
    ignoreErrors:
        - '#"\$index\+\+" is forbidden to use#'
